.navbar {
  background: #3fbce7;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
button {
  font-size: 12px;
  padding: 9px 25px;
  background-color: white;
  border-radius: 50px;
  border: none;
  margin: none;
  transition: all 0.3s ease 0s;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
