<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-xs-4">
          <label>Enter username here&nbsp;<i class="fas fa-search"></i></label>
          <span></span>
          <input
            class="form-control"
            name="search"
            [(ngModel)]="username"
            (keyup)="findUser()"
            placeholder="search username"
            type="text"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img
        class="image img-fluid shadow p-3 mb-5 bg-white rounded"
        [src]="user.avatar_url"
        [title]="user.name"
      />
    </div>
    <br />
    <div class="col-md-6">
      <div class="card shadow p-3 mb-5 bg-white rounded user-card">
        <div class="card-header">{{ user.name }}'s Git-hub info</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-user" aria-hidden="true"></i> &nbsp;
            <strong>Username: </strong> {{ user.login }}
          </li>
          <li class="list-group-item">
            <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;
            <strong>Name: </strong> {{ user.name }}
          </li>
          <li class="list-group-item">
            <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;
            <strong>Email: </strong> {{ user.email }}
          </li>
          <li class="list-group-item">
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
            <strong>Location: </strong> {{ user.location }}
          </li>
          <li class="list-group-item">
            <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
            <strong>Joined on: </strong> {{ user.created_at | date }}
          </li>

          <li class="list-group-item">
            <i class="fa fa-code" aria-hidden="true"></i>&nbsp;
            <strong>Repositories: </strong> {{ user.public_repos }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let repo of userRepos">
      <div class="card repo-card">
        <div class="card-header">
          <h2>Repos</h2>
        </div>
        <div class="card-body">
          <div class="card-body">
            <h3>{{ repo.name }}</h3>
            <hr />
            <p>Created: {{ repo.created_at | date }}</p>
            <hr />
            <p>Language Used: {{ repo.language }}</p>
            <hr />
            <p>{{ repo.description }}</p>
          </div>
        </div>
        <div class="card-footer mdb-color text-center">
          <span
            ><a href="{{ repo.html_url }}" target="_blank" class="btn btn-dark"
              >View Project on Git-hub</a
            ></span
          >
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</div>
