@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

/*body {
  background: linear-gradient(248deg, #4a51d3 -0.66%, #3fbce7 100%);
  box-shadow: 0 0 16px 16px rgb(0 0 0 / 10%);
}
*/
